<footer class="footer">
  <img alt="Enfield" src="/assets/logo.gif" />
  <small>
    Enfield Translations (c) 2015
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>